{% extends 'main/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href={% static "css/chatbot.css" %}>
{% endblock %}

{% block content %}

    <h2 class="title">チャットボット</h2>
    <div id="dialog">
        <div class="wrapper">
        {% for item in classes %}
            <p class="bot message category" data-level="Class">{{ item.name }}</p>
        {% endfor %}
        </div>
    </div>

    <hr>

    <form id="ajax-search" action="{% url 'main:search' %}" method="POST">
        <input type="text" id="search_word" required>
        <button type="submit" >送信</button>
        {% csrf_token %}
    </form>

{% endblock %}

{% block extrajs %}

    <script>
        // フォーム部分
        const w = document.querySelector("#dialog");
        w.scrollTo(0, w.scrollHeight);

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                let cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    let cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        let csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $('#ajax-search').on('submit', e => {
            e.preventDefault();

            $.ajax({
                'url': '{% url "main:search" %}',
                'type': 'POST',
                'data': {'search_word': $('#search_word').val()},
                'dataType': 'json',
            }).done(response => {
                for (let item of response.context) {
                    let p = null;
                    if (item.from === "user") {
                        let f_div = $('<div>', {class: "flex-wrapper"});
                        p = $('<p>', {text: item.message, class: "user message"});
                        f_div.append(p);
                        $('#dialog').append(f_div);
                    } else if (item.from === "bot") {
                        if (item.type === "info") {
                            p = $('<p>', {text: item.message, class: "bot message"});
                            $('#dialog').append(p);
                        } else if (item.type == "answer") {
                            let div = $('<div>', {class: "wrapper"});
                            p = $('<p>', {text: item.question, class: "bot message"});
                            $(div).append(p);
                            p = $('<p>', {text: item.answer, class: "bot message"});
                            $(div).append(p);
                            $('#dialog').append(div);
                        }
                    }
                }

                w.scrollTo(0, w.scrollHeight);
                $('#search_word').val('');
            });           
        });

    </script>

    <script>
        // カテゴリ選択部分
        function fetch_next(p) {
            $.ajax({
                'url': '{% url "main:select_category" %}',
                'type': 'POST',
                'data': {
                    'level': $(p).data("level"),
                    'name': $(p).text()
                },
                'dataType': 'json',
            }).done(response => {
                if (response.finished) {
                    let div = $('<div>', {class: "wrapper"});
                    let p = $('<p>', {text: "【質問】" + response.context[0].question, class: "bot message"});
                    $(div).append(p);
                    p = $('<p>', {text: "【回答】" + response.context[0].answer, class: "bot message"});
                    $(div).append(p);
                    $('#dialog').append(div);
                } else {
                    let div = $('<div>', {class: "wrapper"});
                    for (let item of response.context) {
                        let p = $('<p>', {text: item.name, class: "bot message category", "data-level": item.level});
                        $(p).on("click", e => {fetch_next(p);});
                        div.append(p);
                    }
                    $('#dialog').append(div);
                }

                w.scrollTo(0, w.scrollHeight);
            });
        }

        for (let p of $(".category"))
            $(p).on("click", e => {fetch_next(p);});

    </script>

{% endblock %}
